# Data files
data/raw/
data/processed/*.csv
!data/processed/.gitkeep
!data/processed/drift_accuracy_results.csv 


# Model files
models/*.pkl

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb# Clear output manually, but ignore checkpoint folders

# Environment
.env
venv/